.bl {
    background-color: rgba(10, 212, 212, 0.829);
}

.gr {
    background-color: rgba(44, 44, 44, 0.863);
}

.lt {
    color: rgba(233, 243, 255, 0.849);
}

body {
    background-image: url(../img/BACKGROUND.png);
    width: 100%;
    background-size: cover;
}

.text {
    color: rgb(120, 120, 120);
}

h2 {
    background-color: rgba(10, 212, 212, 0.829);
    color: rgba(44, 44, 44, 0.863);
}

.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: rgba(44, 44, 44, 0.863);
    height: 100%;
    color: rgba(233, 243, 255, 0.849);
}

.sidebar a {
    display: block;
    padding: 8px 16px;
    color: rgba(233, 243, 255, 0.849);
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: rgba(10, 212, 212, 0.829);
    color: rgba(44, 44, 44, 0.863);
}

ul li h3 {
    margin-top: 25px;
    margin-left: 10px;
}